/*#328aa1*/
/*#1a90af*/


/* Logo styling top left*/
.navbar>.container .navbar-brand, .navbar>.container-fluid .navbar-brand {
    font-family: 'Kaushan Script', cursive;
    font-size: 2em;
    color: black;
}

/* General Navbar styling */
.navbar-inverse {
    margin-bottom: 0px;
    border-radius: 0px;
    background-color: #009688;
    border-color: #009688;
    padding-top: 5px;
    padding-bottom: 5px;
    /*border-bottom: solid 2px black; (experimenting with border at bottom of Navbar*/
}

/*Navbar links styling*/
.navbar-inverse .navbar-nav>li>a {
    color: white;
}

/*Hambrger border styling*/
.navbar-inverse .navbar-toggle {
    border-color: #009688;
}

/*Hambrger when toggled styling*/
.navbar-inverse .navbar-toggle:focus{
    background-color: #009688;

}

/*Change border color to match Navbar -  this is the form that contains the collapsed links*/
.navbar-inverse .navbar-toggle:hover , .navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
    border-color: #009688;
}

/* VIP Main Image Responsiveness*/
.mainImage {
    /*width will be 100% width of the browser size as the broswer size adjusts*/
    width:100%;
}

/* Center Links container top padding */
#centerLinksContainer {
    padding-top: 30px;
}
/* Links inside of Left Center Links column (leftCenterLinksColumn)styling*/
.leftCenterLink {
    color: black;
    font-size: 14px;
}

/* Links inside of Left Center Links column (leftCenterLinksColumn) on hover styling*/
.leftCenterLink:hover {
    color: #009688;
}

/* Links/Icons inside of Right Center Links column (leftCenterLinksColumn) on hover styling*/
i {
    color: #009688;
}

/* Links inside of Right Center Link column (rightCenterLinksColumn) styling */
a {
    color: #009688;
    /*margin-right: 50px;*/
    /*margin-bottom: 20px;*/
    padding:10px;
}

/* Change layout of Center Links Container when mobile */
@media only screen and (max-width: 500px) {

    #leftCenterLinksColumn {
        margin-bottom: 35px;
    }
    #rightCenterLinksColumn {
        text-align:center;
     }

}

/* General Footer styling */
#footer {
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: #009688;
}

/* Left side Footer Links styling */
a {
    color: black;
    font-size:15px;
}

/* Right side Footer Links styling */
.rightSideFooterLinks {
    color: white;
}

/* All Footer links change color on hover styling */
a:hover {
    color: white;
}

/* Login Form */
#loginform {
    width:20%;
    border:solid 2px #009688;
    padding:15px;

/* TODO need to figure out positioning so mobile responsive */
    position:absolute;
    top:115px;
    right:430px;
}

/* Form & Button squared corners */
.form-control, .btn-default {
    border-radius: 0px;
}

/* Change Button color */
.btn-default {
    background-color: #009688;
    color: white;
}




