/* General Font & Line Height */
body {
    font-family: 'Abril Fatface', cursive;
    line-height: 1.8;
    background-color:white;
}

/* Container Without Padding */
.containerWithoutPadding {
    padding: 0;
}
/*TODO -change*/
/* Column Styling */
@media screen and (max-width: 768px) {
    .col-sm-4 {
        text-align: center;
        margin: 25px 0;
    }
}

/* h2 General Styling */
h2 {
    font-size: 24px;
    color: #FBB024;
    font-weight: 600;
    margin-bottom: 30px;
}

/* h4 General Styling */
h4 {
    font-size: 19px;
    line-height: 1.375em;
    color: #FBB024;
    font-weight: 400;
    margin-bottom: 30px;
}

/* h4 no margin top or bottom */
.h4_WithoutMarginTopBottom {
    margin-top: 0;
    margin-bottom: 0;
}
/*===========================================================================================================================*/
/* NAVBAR STYLING */
/*===========================================================================================================================*/
/*TODO -change*/
/* General Navbar Styling */
.navbar {
    margin-bottom: 0;
    /*background-color: #AC0040;*/
    background-color:rgba(9,62,77,0.83);
    z-index: 9999;
    border: 0;
    font-size: 12px;
    line-height: 1.42857143 !important;
    border-radius: 0;
    font-family: 'Abril Fatface', cursive;
    padding-top:10px;
    padding-bottom:10px;
}

/* Navbar Logo Color */
.navbar>.container .navbar-brand, .navbar>.container-fluid .navbar-brand {
    color: #FBB024;
}

/* Navbar Links Color */
.navbar li a, .navbar .navbar-brand {
    color: #fff;
}

/* Navbar Links change Color on hover */
.navbar-nav li a:hover, .navbar-nav li.active a {
    color: #FBB024 !important;
    background-color: #fff !important;
}

/*  Navbar Hamburger Color */
.navbar-toggle .icon-bar {
    background-color: #FFFFFF;
}

/* Icons Styling */
.navIcon {
    font-size: 15px;
}

/*===========================================================================================================================*/
/* PAGE BUTTONS */
/*===========================================================================================================================*/

/* Button Styling */
.btn-default {
    background-color: #FBB024;
    border-color: #FBB024;
    border-radius:0;
    width:150px;
}

/*===========================================================================================================================*/
/* FORM */
/*===========================================================================================================================*/
/*TODO -change*/
.testpoistion {
    position: relative;
}

form {
    position: absolute;
    top:20%;
    left:35%;
    right:35%;
    color: #fff;
    font-family: 'Abril Fatface', cursive;
    padding:20px;
    /*width:500px;*/
    width:30%;
    background-color:rgba(9,62,77,0.83);
}
/*TODO -change*/
/* Form Position When Mobile */
@media only screen and (max-width: 500px) {
    form {
        width: 100%; /* Set width to 100% */
        position: static;
        bottom: 60%;

    }
}
/* Input Box Square Corners */
.form-control {
    border-radius: 0;
}

/* Member Login Text Styling*/
.loginCTA {
    font-family: 'Abril Fatface', cursive;
    color: #FBB024;
}

/* Secondary Text Inside Form */
.formSecText {
    font-size: 10px;
}

/*===========================================================================================================================*/
/* HERO STYLING */
/*===========================================================================================================================*/

/* Image General Sizing */
.hero-wrapper img {
    /*-webkit-filter: grayscale(90%);*/
    /*filter: grayscale(90%); !* make all photos black and white *!*/
    width: 100%;
    margin: auto;
}

/* Image Desktop Sizing */
.hero-wrapper>.item>a>img, .hero-wrapper>.item>img {
    height:800px;
}

/* Image Mobile Responsiveness */
@media only screen and (max-width: 500px) {
    .hero-wrapper>.item>a>img, .hero-wrapper>.item>img {
        width: 100%;
        margin: auto;
        height:auto;
    }
}

/*===========================================================================================================================*/
/* TESTIMONIAL CAROUSEL STYLING */
/*===========================================================================================================================*/

/* Carousel Controls */
.carousel-control.right, .carousel-control.left {
    background-image: none;
    color: #FBB024;
}

/* Carousel Indicators */
.carousel-indicators li {
    border-color: #FBB024;
}

/* Carousel Indicators */
.carousel-indicators li.active {
    background-color: #FBB024;
}

/* Carousel Comments Text Styling */
.item h4 {
    font-size: 19px;
    line-height: 1.375em;
    font-weight: 400;
    font-style: italic;
    margin: 70px 0;
}

/* Carousel Name & Address Text Styling */
.item span {
    font-style: normal;
}


.carousel-inner {
    height:700px;
    overflow: hidden;
}
/*===========================================================================================================================*/
/* ICON SLIDE IN EFFECTS*/
/*===========================================================================================================================*/

/* Hide Icons Initially */
.slideanim {
    visibility:hidden;
}

/* Slide Icons Into View Action*/
.slide {
    animation-name: slide;
    -webkit-animation-name: slide;
    /* The duration of the animation */
    animation-duration: 1s;
    -webkit-animation-duration: 1s;
    /* Make the element visible */
    visibility: visible;
}

/* Go from 0% to 100% opacity (see-through) and specify the percentage from when to slide in the element along the Y-axis */
@keyframes slide {
    0% {
        opacity: 0;
        transform: translateY(70%);
    }
    100% {
        opacity: 1;
        transform: translateY(0%);
    }
}
@-webkit-keyframes slide {
    0% {
        opacity: 0;
        -webkit-transform: translateY(70%);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateY(0%);
    }
}
/*===========================================================================================================================*/
/* ABOUT & MISSION SECTION */
/*===========================================================================================================================*/

/* Div Styling */
#about, #values {
    background-color: #FFFFFF;
    color: black;
}
/* Icons Styling */
.aboutIcon {
    color: #093E4D;
    font-size: 100px;
}

.aboutIcon2 {
    color: #093E4D;
    font-size: 100px;
}
/*===========================================================================================================================*/
/* SERVICES SECTION */
/*===========================================================================================================================*/

/* Div Styling */
#services {
    background-image: url(../images/bg2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color: black;
    font-family: 'Abril Fatface', cursive;
}

/* h2 styling */
.yellowText {
    color: #FBB024;
}

/* h4 styling */
.whiteText {
    color: #FBB024;
    font-size:2em;
}

/* Icons Styling */
.serviceIcon {
    color: white;
    font-size: 80px;
    text-shadow: 1px 1px 2px #000000;
}


/* Navbar Links change Color on hover */
.serviceIcon:hover {
    color: #FBB024;
}
/*===========================================================================================================================*/
/* TESTIMONIALS SECTION */
/*===========================================================================================================================*/

/* Div Styling */
#tesitmonials {
    font-family: 'Abril Fatface', cursive;
}

/*h4 Styling*/
.blackText {
    color: black;
}

/* Thumnail Styling*/
.thumbnail {
    padding: 0 0 15px 0;
    border: none;
    border-radius: 0;
}

/* Image Styling */
.thumbnail img {
    width: 100%;
    height: 100%;
    margin-bottom: 10px;
}

.caro-testimonials {
    height:auto;
}

.tint {
    background: rgba(0, 0, 0, 0.6);
}
/*===========================================================================================================================*/
/* CONTACT SECTION */
/*===========================================================================================================================*/

/* Div Styling */
#contact {
    background-color: #093E4D;
    color: #FFFFFF;
}

/* Icons Styling */
.contact {
    color: #FBB024;
    font-size: 30px;
}

/*===========================================================================================================================*/
/* FOOTER SECTION */
/*===========================================================================================================================*/

/* Background Color */
footer {
    background-color: #093E4D;
    /*background-color: #a80329;*/
}

/* Navigation Arrow */
.footerNavArrow {
    font-size: 30px;
    margin-bottom: 20px;
    color: #FBB024;
}

/* Icons Styling */
.footerIcon {
    color: #FFFFFF;
    font-size: 40px;
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom:30px;
    text-shadow: 0px 2px 2px 0px black;
}

/* Footer Icons Change Color on Hover */
.footerIcon:hover {
    color: #FBB024;
}
/*===========================================================================================================================*/
/* END */
/*===========================================================================================================================*/
/*TODO - add*/
.navbar>.container .navbar-brand, .navbar>.container-fluid .navbar-brand {
    padding-left:80px;
    font-family: 'Abril Fatface', cursive;
    font-size:36px;
}

.content-header {
    font-family: 'Abril Fatface', cursive;
    color: #FBB024;
    font-size:3.5em;
}

/*TODO - This is a temp bandaid to align About header center when mobile*/
@media screen and (max-width: 768px) {
    .content-header {
        text-align: center;
    }
}

body {
    font-family: 'Abril Fatface', cursive;
}

.temp-text {
    font-size:1.25em;
    color: grey;
    letter-spacing:.5px;
}

.navbar li a, .navbar .navbar-brand {
    font-size:1.5em;
}










