/*===========================================================================================================================*/
/* BODY / GENRAL STYLING */
/*===========================================================================================================================*/

/* General Font & Line Height */
body {
    font-family: 'Raleway', sans-serif;
    line-height: 1.8;
}

/* Container With Padding */
.containerWithPadding {
    padding: 60px 50px;
}

/* Container Without Padding */
.containerWithoutPadding {
    padding: 0;
}

/* Column Styling */
@media screen and (max-width: 768px) {
    .col-sm-4 {
        text-align: center;
        margin: 25px 0;
    }
}

/* h2 General Styling */
h2 {
    font-size: 24px;
    text-transform: uppercase;
    color: #AC0040;
    font-weight: 600;
    margin-bottom: 30px;
}

/* h4 General Styling */
h4 {
    font-size: 19px;
    line-height: 1.375em;
    color: #AC0040;
    font-weight: 400;
    margin-bottom: 30px;
}

/* h4 no margin top or bottom */
.h4_WithoutMarginTopBottom {
    margin-top: 0;
    margin-bottom: 0;
}
/*===========================================================================================================================*/
/* NAVBAR STYLING */
/*===========================================================================================================================*/

/* General Navbar Styling */
.navbar {
    margin-bottom: 0;
    background-color: #AC0040;
    z-index: 9999;
    border: 0;
    font-size: 12px;
    line-height: 1.42857143 !important;
    letter-spacing: 4px;
    border-radius: 0;
    font-family: 'Raleway', sans-serif;
}

/* Navbar Logo Color */
.navbar>.container .navbar-brand, .navbar>.container-fluid .navbar-brand {
    color: #FBB024;
}

/* Navbar Links Color */
.navbar li a, .navbar .navbar-brand {
    color: #fff;
}

/* Navbar Links change Color on hover */
.navbar-nav li a:hover, .navbar-nav li.active a {
    color: #FBB024 !important;
    background-color: #fff !important;
}

/*  Navbar Hamburger Color */
.navbar-toggle .icon-bar {
    background-color: #FFFFFF;
}

/* Icons Styling */
.navIcon {
    font-size: 15px;
}

/*===========================================================================================================================*/
/* HERO STYLING */
/*===========================================================================================================================*/

/* Image General Sizing */
.carousel-inner img {
    /*-webkit-filter: grayscale(90%);*/
    /*filter: grayscale(90%); !* make all photos black and white *!*/
    width: 100%;
    margin: auto;
}

/* Image Desktop Sizing */
.carousel-inner>.item>a>img, .carousel-inner>.item>img {
    height:800px;
}

/* Image Mobile Responsiveness */
@media only screen and (max-width: 500px) {
    .carousel-inner>.item>a>img, .carousel-inner>.item>img {
        width: 100%;
        margin: auto;
        height:auto;
    }
}

/*===========================================================================================================================*/
/* TESTIMONIAL CAROUSEL STYLING */
/*===========================================================================================================================*/

/* Carousel Controls */
.carousel-control.right, .carousel-control.left {
    background-image: none;
    color: #FBB024;
}

/* Carousel Indicators */
.carousel-indicators li {
    border-color: #FBB024;
}

/* Carousel Indicators */
.carousel-indicators li.active {
    background-color: #FBB024;
}

/* Carousel Comments Text Styling */
.item h4 {
    font-size: 19px;
    line-height: 1.375em;
    font-weight: 400;
    font-style: italic;
    margin: 70px 0;
}

/* Carousel Name & Address Text Styling */
.item span {
    font-style: normal;
}

/*===========================================================================================================================*/
/* ICON SLIDE IN EFFECTS*/
/*===========================================================================================================================*/

/* Hide Icons Initially */
.slideanim {
    visibility:hidden;
}

/* Slide Icons Into View Action*/
.slide {
    animation-name: slide;
    -webkit-animation-name: slide;
    /* The duration of the animation */
    animation-duration: 1s;
    -webkit-animation-duration: 1s;
    /* Make the element visible */
    visibility: visible;
}

/* Go from 0% to 100% opacity (see-through) and specify the percentage from when to slide in the element along the Y-axis */
@keyframes slide {
    0% {
        opacity: 0;
        transform: translateY(70%);
    }
    100% {
        opacity: 1;
        transform: translateY(0%);
    }
}
@-webkit-keyframes slide {
    0% {
        opacity: 0;
        -webkit-transform: translateY(70%);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateY(0%);
    }
}

/*===========================================================================================================================*/
/* ABOUT & MISSION SECTION */
/*===========================================================================================================================*/

/* Div Styling */
#about, #values {
    background-color: #FFFFFF;
    color: black;
}
/* Icons Styling */
.aboutIcon {
    color: #AC0040;
    font-size: 100px;
}

/*===========================================================================================================================*/
/* SERVICES SECTION */
/*===========================================================================================================================*/

/* Div Styling */
#services {
    background-color: #AC0040;
    color: black;
    font-family: 'Raleway', sans-serif;
}

/* h2 styling */
.yellowText {
    color: #FBB024;
}

/* h4 styling */
.whiteText {
    color: #FFFFFF;
}

/* Icons Styling */
.serviceIcon {
    color: white;
    font-size: 80px;
}

/*===========================================================================================================================*/
/* TESTIMONIALS SECTION */
/*===========================================================================================================================*/

/* Div Styling */
#tesitmonials {
    font-family: 'Raleway', sans-serif;
}

/*h4 Styling*/
.blackText {
    color: black;
}

/* Thumnail Styling*/
.thumbnail {
    padding: 0 0 15px 0;
    border: none;
    border-radius: 0;
}

/* Image Styling */
.thumbnail img {
    width: 100%;
    height: 100%;
    margin-bottom: 10px;
}

/*===========================================================================================================================*/
/* CONTACT SECTION */
/*===========================================================================================================================*/

/* Div Styling */
#contact {
    background-color: #AC0040;
    color: #FFFFFF;
}

/* Icons Styling */
.contact {
    color: #FBB024;
    font-size: 30px;
}

/*===========================================================================================================================*/
/* FOOTER SECTION */
/*===========================================================================================================================*/

/* Background Color */
footer {
    background-color: #AC0040;
}

/* Navigation Arrow */
.footerNavArrow {
    font-size: 30px;
    margin-bottom: 20px;
    color: #FBB024;
}

/* Icons Styling */
.footerIcon {
    color: #FFFFFF;
    font-size: 40px;
    padding-left: 25px;
    padding-right: 25px;
}


/*===========================================================================================================================*/
/* PAGE BUTTONS */
/*===========================================================================================================================*/

/* Button Styling */
.btn-default {
    background-color: #FBB024;
    border-color: #FBB024;
    border-radius:0;
}

/*===========================================================================================================================*/
/* FORM */
/*===========================================================================================================================*/

/* Layout */
form {
    position: absolute;
    bottom: 500px;
    right: 70px;
    background-color: #AC0040;
    color: #FFFFFF;
    letter-spacing: 4px;
    font-family: 'Raleway', sans-serif;
    padding:20px;
    width:35%;
}

/* Input Box Square Corners */
.form-control {
    border-radius: 0;
}

/* Member Login Text Styling*/
.loginCTA {
    font-family: 'Raleway', sans-serif;
    color: #FBB024;
}

/* Secondary Text Inside Form */
.formSecText {
    font-size: 10px;
}

/* Help Position Form */
.carousel-inner {
    position: relative;
}

/* Form Position When Mobile */
@media only screen and (max-width: 500px) {
    form {
        width: 100%; /* Set width to 100% */
        position: static;
        bottom: 0;
        right: 0;

    }
}

/*===========================================================================================================================*/
/* END */
/*===========================================================================================================================*/


































